header {
  background: $header-bg;
  padding: 8px 0; //24px;
  // height: 48px;

  .logo {
    line-height: 32px;
    font-weight: lighter;

    float: left;
    width: 170px;
    display: block;

    font-family: $logo-font;
    font-size: 22px;
    color: $text;
    font-weight: 100;

    .logo-image,
    .logo-image img {
      width: 32px;
      height: 32px;
      float: left;
      margin-right: 5px;
      border-radius: 50%;
    }
  }

  nav {
    float: right;
    .dropdown .menu {
      left: 4px;
      top: calc(100% + 5px); // not sure why 5
    }
    @media (max-width: 700px) {
      float: left;
      white-space: nowrap;
      overflow: hidden;
      overflow-x: auto;
      width: 100%;
      margin-top: 5px;
      .btn-nav {
        display: inline-block;
        margin-left: 0;
        margin-right: 12px;
      }
    }
  }
}
.subheader {
  padding: 20px;
  font-size: 1.2em;
  background: #fdd4a7;
}
.subnav {
  background: $subnav-bg;
  padding: 2px 24px;
  .search, .tags-input {
    margin-top:0;
  }

  .tags-input {
    // If I want to combine search bar and category dropwown into one thing.
    width: 100%;
  }
}
.search {
  width: calc(100% - 170px - 350px); // calc(100% - 200px - 10px); // - dropdown width - margin
  float: left;
  margin-right: 10px;
  margin-top:0;
  @media (max-width: 700px) {
    width: 100%;
    margin-top: 5px;
  }
}
