.post-modal {
  .btn {
    margin-top: 0;
  }
}
.post-view {
  background: white;
  display: flex;
  @media (max-width: 700px) {
    display: block;
  }
  .gallery {
    width: 66.66%;
    float: left;
    @media (max-width: 700px) {
      width: 100%;
    }
    
    .current-image {
      position: relative;
      .next-image,
      .prev-image {
        position: absolute;
        top: calc(50% - 20px);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center; /* center items vertically, in this case */
        align-items: center;
        cursor: pointer;
        display: none;
      }
      .prev-image {
        left: 10px;
      }
      .next-image {
        right: 10px;
      }
      .dots {
        position: absolute;
        width: 100%;
        bottom: 5px;
        display: flex;
        justify-content: center;
        .dot {
          background: $border;
          width: 10px;
          height: 10px;
          margin: 0 2px;
          border-radius: 50%;
          cursor: pointer;
          &.active {
            background: $blue;
          }
        }
      }
      &:hover {
        .next-image,
        .prev-image {
          display: flex;
        }
      }
    }
  }

  .description {
    width: 33.33%;
    float: left;
    @media (max-width: 700px) {
      width: 100%;
    }
    .header {
      border-bottom: 1px solid $border;
      padding: 0 10px;
    }
    .scrollable {
      //https://jsbin.com/yivonew/edit?html,css,output
      position: relative;
      overflow: hidden;
      overflow-y: auto;
      width: 100%;
      height: calc(100% - 97px - 124px); // - header height - post-comment height
      // width: 335px;
      .scrollable-contents {
        position: absolute;
        @media (max-width: 700px) {
          position: initial;
        }
        left: 0;
        top: 0;
        right: 0;
        bottom: 0px;
        padding: 0 10px;
      }
    }

    h1 {
      text-align: left;
      font-size: 1.2em;
      font-weight: bold;
    }
    h2 {
      font-size: 1em;
    }
    .author {
      font-weight: bold;
    }
    .btn-user-profile {
      width: 100%;
      text-align: center;
      margin-top: 5px;
    }
    .buttons {
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
      .btn {
        width: 100%;
        text-align: center; 
      }
      @media (max-width: 700px) {
        .btn-label {
            display: none;
        }
      }
      .btn-upvote {
      }
      .btn-edit-post {
        margin-left: 5px;
      }
    }

    .stats {
      margin-top: 5px;
      font-size: 0.9em;
      display: flex;
      justify-content: space-between;
      @media (max-width: 900px) {
        justify-content: space-around;
      }
      .stat {
        color: $text-dim;
        .stat-label {
          @media (max-width: 900px) {
            display: none;
          }
        }
      }
    }
    .tags {
        .tag {
          white-space: nowrap;
          margin-right: 2px;
          margin-top: 2px;
          background: $panel-bg;
          height: 26px;
          line-height: 26px;
          padding: 0 5px;
          cursor: pointer;
          border-radius: $border-radius;
          float: left;
      }
    }
  }
}

.comments {
  border-top: 1px solid $border;
  margin-top: 5px;
  .comment {
    margin-top: 10px;
    .author {
      //font-size: 0.8em;
    }
  }
}
.post-view {
  position: relative;
}
.post-comment {
  position: absolute;
  background: white;
  width: 33.33%;
  @media (max-width: 700px) {
    position: initial;
    width: 100%;
  }
  right: 0;
  bottom: 0;
  padding: 0 10px 10px 10px;
  border-top: 1px solid $border;
  textarea {
    //margin-top: 10px;
  }
  .btn {
    margin-top: 5px;
  }
}

.edit {
  .images {
    margin-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    .preview-image {
      display: inline-block;
      width: 120px;
      height: 120px;
      margin-right: 12px;
      position: relative; // so I could use _elements/.flex-center inside it
      border-radius: $border-radius;
      overflow: hidden; //otherwise border radius won't crop the image
      background: $panel-bg;
      font-size: 24px; // scale icons
      color: $text-dim;
      .square-image-wrapper {
        z-index: 1; // above the empty image icon placeholder
      }
      .delete {
        z-index: 2; // above the image
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        cursor: pointer;
        display: none;
      }
      &:hover {
        .delete {
          display: flex;
        }
      }
      &.uploading {
        border: 2px solid $border;
      }
      &.upload {
        cursor: pointer;
        border: 2px solid $border;
        margin-right: 0;
      }
    }
  }

  .buttons {
    .btn {
      // margin-left: 12px; // TODO: weird issue, button grows when I add margin!?
      width: auto;
    }
    .delete {
      float: left;
      margin-left: 0;
    }
  }
}
