.post-modal {
  .gallery {
    width: 66.66%;
    float: left;
    .current-image {
      position: relative;
      .next-image,
      .prev-image {
        position: absolute;
        top: calc(50% - 20px);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center; /* center items vertically, in this case */
        align-items: center;
        cursor: pointer;
        display: none;
      }
      .prev-image {
        left: 10px;
      }
      .next-image {
        right: 10px;
      }
      .dots {
        position: absolute;
        width: 100%;
        bottom: 5px;
        display: flex;
        justify-content: center;
        .dot {
          background: $border;
          width: 10px;
          height: 10px;
          margin: 0 2px;
          border-radius: 50%;
          cursor: pointer;
          &.active {
            background: $blue;
          }
        }
      }
      &:hover {
        .next-image,
        .prev-image {
          display: flex;
        }
      }
    }
  }
  .description {
    width: 33.33%;
    float: left;
    padding: 10px;
    h1 {
      text-align: left;
      font-size: 1.2em;
    }
    .author {
    }
  }
}

.edit {
  .images {
    margin-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    .preview-image {
      display: inline-block;
      width: 120px;
      height: 120px;
      margin-right: 12px;
      position: relative; // so I could use _elements/.flex-center inside it
      border-radius: $border-radius;
      overflow: hidden; //otherwise border radius won't crop the image
      background: $panel-bg;
      font-size: 24px; // scale icons
      color: $text-dim;
      .square-image-wrapper {
        z-index: 1; // above the empty image icon placeholder
      }
      .delete {
        z-index: 2; // above the image
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        cursor: pointer;
        display: none;
      }
      &:hover {
        .delete {
          display: flex;
        }
      }
      &.uploading {
        border: 2px solid $border;
      }
      &.upload {
        cursor: pointer;
        border: 2px solid $border;
        margin-right: 0;
      }
    }
  }

  .buttons {
    .btn {
      // margin-left: 12px; // TODO: weird issue, button grows when I add margin!?
      width: auto;
    }
    .delete {
      float: left;
      margin-left: 0;
    }
  }
}
